@media (max-width: 375px) {
    .wrapper {
        grid-template-areas: 
        "content";
    }
    nav ul {
        display: none;
    }
    footer, .ad, .side, .main-head {
        display: none;
    }
  }